<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('_head.ejs') %>
    <title>display</title>
</head>
<body class="container">
    <a href="/" class="btn btn-outline-secondary m-2">Back</a>
    <section class="w-50 mt-2">
        <label for="browser" class="form-label mb-2"><h4>Filter by campus:</h4></label>
        <div class="d-flex justify-content-left">
            <div class="m-2">
                <form id="filter" class="mb-2" action="/filter" method="post">
                    <select id="selectedItem" onchange="submitForm()" class="form-control w-100" name="campus">
                        <% for(var i = 0; i< options; i++) { %>
                            <option  value="<%= 'Campus '+(i+1) %>" name="<%= 'Campus '+(i+1) %>"><%= "Campus " + (i+1) %></option>
                        <% } %>
                    </select>
                </form>
            </div>
            <div class="m-2">
                <form action="/filter/search" id="searchForm" method="post">
                    <input type="search" class="form-control w-100" id="searchField" oninput="loadOnePart()" name="searchData" placeholder="Search campus..">
                </form>
            </div>
            <div class="m-2">
                <a href="campuses/<%= campusName %>.xlsx" class="btn btn-outline-success" download>Download <%= campusName %></a>
            </div>
        </div>
        
    </section>

    <section>
        <%- include('_table.ejs') %>
    </section>

    <%- include('_script_functions.ejs') %>
</body>
</html>
